@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  font-family: var(--font-lora), serif;
}

@layer base {
  :root {
    --background: 210 20% 98%;
    --foreground: 207 43% 14%;
    --card: 210 20% 100%;
    --card-foreground: 207 43% 14%;
    --popover: 210 20% 100%;
    --popover-foreground: 207 43% 14%;
    --primary: 207 43% 14%;
    --primary-foreground: 210 20% 98%;
    --secondary: 210 20% 91.1%;
    --secondary-foreground: 207 43% 14%;
    --muted: 210 20% 91.1%;
    --muted-foreground: 207 43% 25%;
    --accent: 197 71% 73%;
    --accent-foreground: 207 43% 14%;
    --destructive: 0 84.2% 60.2%;
    --destructive-foreground: 210 20% 98%;
    --border: 210 20% 83.1%;
    --input: 210 20% 83.1%;
    --ring: 207 43% 14%;
    --radius: 0.5rem;

    --gradient-start: #f0f9ff; /* sky-50 */
    --gradient-end: #e0f2fe;   /* sky-100 */
  }

  .dark {
    --background: 207 24% 10%;
    --foreground: 210 20% 98%;
    --card: 207 24% 12%;
    --card-foreground: 210 20% 98%;
    --popover: 207 24% 10%;
    --popover-foreground: 210 20% 98%;
    --primary: 210 20% 98%;
    --primary-foreground: 207 43% 14%;
    --secondary: 207 24% 16%;
    --secondary-foreground: 210 20% 98%;
    --muted: 207 24% 16%;
    --muted-foreground: 217.9 10.6% 64.9%;
    --accent: 197 71% 73%;
    --accent-foreground: 207 43% 14%;
    --destructive: 0 62.8% 30.6%;
    --destructive-foreground: 210 20% 98%;
    --border: 207 24% 20%;
    --input: 207 24% 20%;
    --ring: 210 20% 98%;

    --gradient-start: #0c4a6e; /* sky-900 */
    --gradient-end: #082f49;   /* sky-950 */
  }
}

@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground;
    background-image: linear-gradient(to bottom right, var(--gradient-start), var(--gradient-end));
  }
}

.gradient-text {
    @apply bg-gradient-to-r from-primary to-accent bg-clip-text text-transparent;
}
